In [1]:
import pandas as pd

Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [2]:
df = pd.read_html("https://www.genealogybranches.com/censuscosts.html")

Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [3]:
len(df)

2

In [5]:
df_1 = df[0]
df_2 = df[1]

In [6]:
df_1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [7]:
df_2

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [8]:
header = df_1.iloc[0]
df_1 = df_1[1:]
df_1.columns = header

In [9]:
df_1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [10]:
df_1.describe()

0      Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1940        179323175  $3,421,198              6.14 cents
freq             1                1           1                       1

In [11]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 868.0+ bytes

Document the data quality issues using a Markdown cell so the reader understands what the problems are.

### There are no null values. There needs to be data cleansing for the years (ex. 2010*), Census Cost (ex. "$4.5 billion), and Average Cost Per Person (ex. "cents")

Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [16]:
def cleanse_year(year):
    new_year = year.replace("*","")
    return new_year

In [17]:
cleanse_year("1989*")

'1989'

In [18]:
cleanse_year("20*10")

'2010'

Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [19]:
df_1["Census Year"] = df_1["Census Year"].apply(cleanse_year)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [21]:
def cleanse_cost(cost):
    if cost.find(" Billion") != -1:
        cost = (cost.strip(" Billion"))+"000000000"
    new_cost = cost.lstrip("$").replace(",","").replace(".","")
    return new_cost

In [22]:
cleanse_cost("$4.5 Billion")

'45000000000'

In [23]:
df_1["Census Cost"] = df_1["Census Cost"].apply(cleanse_cost)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
def cleanse_average_cost(avg_cost):
    if (avg_cost.find('$') == -1): 
        avg_cost= avg_cost.replace(" cents","")
        new_avg_cost= float(avg_cost)/100
    else:
        new_avg_cost=avg_cost.strip("$")
    return new_avg_cost

In [25]:
cleanse_average_cost("1.13 cents")

0.0113

In [26]:
df_1["Average Cost Per Person"] = df_1["Average Cost Per Person"].apply(cleanse_average_cost)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_1

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                  0.0113
2         1800          5308483        66109                  0.0124
3         1810          7239881       178445                  0.0246
4         1820          9633822       208526                  0.0216
5         1830         12866020       378545                  0.0294
6         1840         17069458       833371                  0.0488
7         1850         23191876      1423351                  0.0614
8         1860         31443321      1969377                  0.0626
9         1870         38558371      3421198                  0.0887
10        1880         50155783      5790678                  0.1154
11        1890         62979766     11547127                  0.1833
12        1900         76303387     11854000                  0.1554
13        1910         91972266     15968000                  0.1707
14        1920        105710620     25117000                  0.2376
15        1930        122775046     40156000                  0.3271
16        1940        131669275     67527000                  0.5129
17        1950        151325798     91462000                  0.6044
18        1960        179323175    127934000                  0.7134
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906  45000000000                   15.99
23        2010        308745538  13000000000                   42.11

After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [28]:
df_1.to_csv("census_cost_cleansed.csv", index=False)

In [30]:
pd.read_csv("census_cost_cleansed.csv")

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906  45000000000                  15.9900
22         2010         308745538  13000000000                  42.1100